<a href="https://colab.research.google.com/github/sksoumik/py/blob/main/snippets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Save all items of a list in a line separated text file

In [ ]:
lst = ['Sample text 1', 'sample text 2', 'sample text 3', 'sample text 4']

SAVE_DIR = 'my_list.txt'

with open(SAVE_DIR, mode='wt', encoding='utf-8') as myfile:
    myfile.write('\n'.join(lst))

## Shift characters of strings

In [ ]:
def get_shifted_string(s, left_shift_idx, right_shift_idx):
    i = (left_shift_idx - right_shift_idx) % len(s)
    return s[i:] + s[:i]

In [ ]:
s = "facebook"
get_shifted_string(s, 4, len(s))

4

'bookface'

## Modulas operator
If the right side number is higher than the left side, the result is always the left side

In [ ]:
4 % 10

4

In [ ]:
4 % 5

4

## Taking multiple inputs

In [ ]:
# input two integers

a, b = map(int, input().split())

print(f"a = {a}; b = {b}")

10 20
a = 10; b = 20

In [ ]:
# input a list of integers

l = list(map(int, input().split()))
print(l)

10 20 30 40
[10, 20, 30, 40]

In [ ]:
# input a list of strings

l = list(map(str, input().split()))
print(l)

apple google facebook
['apple', 'google', 'facebook']

## Check for an Anagram
An anagram is a word that is formed by rearranging the letters of a different word, using all the original letters exactly once.

In [ ]:
def check_anagram(first_string, second_string):
    return sorted(first_string) == sorted(second_string)

In [ ]:
check_anagram("silent", "listen")

True

In [ ]:
check_anagram("apple", "applo")

False

In [ ]:
# method 3

from collections import Counter

def check_anagram_v2(first_string, second_string):
    return Counter(first_string) == Counter(second_string)

In [ ]:
check_anagram_v2("silent", "listen")

True

## Randomly select few samples from a list

In [ ]:
import random

# create some random numbers
sample_list = []

for _ in range(100):
    sample_list.append(random.randint(10, 1000))  # creates 100 integers in the range of [10, 1000]

In [ ]:
# randomly select 10 items from the sample_list
selected_sample = random.sample(sample_list, 10)
print(selected_sample)

[808, 827, 285, 142, 710, 484, 534, 459, 188, 186]

## Sort a list of strings using brute-force

In [ ]:
def sort_list(list_to_sort):
    for i in range(len(list_to_sort)):
        for j in range(len(list_to_sort)):
            if list_to_sort[i] < list_to_sort[j]:
                temp = list_to_sort[i]
                list_to_sort[i] = list_to_sort[j]
                list_to_sort[j] = temp
    return list_to_sort


if __name__ == "__main__":
    list_to_sort = ["apple", "google", "microsoft", "facebook", "amazon", "twitter"]
    print(sort_list(list_to_sort))

['amazon', 'apple', 'facebook', 'google', 'microsoft', 'twitter']

## Adding elements of two different lists

In [ ]:
# method 1
def add_element(list1, list2):
    list3 = []
    for i in range(len(list1)):
        list3.append(list1[i] + list2[i])
    return list3


if __name__ == "__main__":
    list1 = [1, 2, 3]
    list2 = [4, 5, 6]
    print(add_element(list1, list2))

[5, 7, 9]

In [ ]:
# method 2
def add_element(list1, list2):
    res = [x + y for x,y in zip(list1, list2)]
    return res


if __name__ == "__main__":
    list1 = [1, 2, 3]
    list2 = [4, 5, 6]
    print(add_element(list1, list2))

[5, 7, 9]

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list(zip(list1, list2))

[(1, 4), (2, 5), (3, 6)]

## Sort a dictionary by its value in ascending order

In [ ]:
def sort_dict_by_value(d):
    return sorted(d.items(), key=lambda x: x[1], reverse=False)


if __name__ == "__main__":
    d = {"a": 1, "b": 2, "c": 3}
    print(sort_dict_by_value(d))

[('a', 1), ('b', 2), ('c', 3)]

## Code execution time

In [ ]:
import time

start_time = time.time()

total = 0

for i in range(10):
  total += i
print("Sum:", total)

end_time = time.time()
time_taken = end_time - start_time
print("Time: ", time_taken)

Sum: 45
Time:  0.0015342235565185547

## Find the most occuring element in a list

In [ ]:
# find the most occuring element in a list
def most_occuring(lst):
    return max(lst, key=lst.count)


# find the least occuring element in a list
def least_occuring(lst):
    return min(lst, key=lst.count)


if __name__ == "__main__":
    lst = [1, 2, 1, 4, 5, 1, 4, 2, 2, 1]
    print(most_occuring(lst))
    print(least_occuring(lst))

1
5

## Chunk a list into different parts

In [ ]:
def chunk_list(list, chunk_size):
    return [list[i : i + chunk_size] for i in range(0, len(list), chunk_size)]


if __name__ == "__main__":
    list = [2, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
    print(chunk_list(list, 4))

[[2, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11], [12, 13, 14, 15], [16, 17]]

## calculator without if else

In [ ]:
import operator

operator_map = {
    '+': operator.add,
    '-': operator.sub,
    '*': operator.mul,
    '/': operator.truediv
}

print(operator_map['/'](50, 5))
print(operator_map['-'](15, 10))

10.0
5

## Check wheather a